<p>Ask your coach anything, he is here to help you:</p>
<form action="/answer" class="input-group">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="Your question" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  <input type="submit" value="Ask!" class="input-group-text" id="inputGroup-sizing-default">
</form>